.footer{
    padding-top: 30px;
    padding-bottom: 60px;
    background: var(--primary-color);
}
.footer__text{
    line-height: 30px;
}
ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.735);
}
ul li a:hover{
    
    color: rgba(255, 255, 255, 0.735);
}
.footer__quick-links ul li {
    background: transparent;
}
.quick__links-title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}
.footer__contact li{
    color: rgba(255, 255, 255, 0.735);
}
.footer__contact li span  , 
.footer__contact li p{
    color: rgba(255, 255, 255, 0.735);
}
.footer__contact li span{
    font-size: 1.2rem;
}
.footer__contact li p{
    font-size: 0.9rem;
}

.footer__copyright{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.735);
    margin-top: 50px;
    text-align: center;
}